/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.custom-brand {
  padding: 5px 10px 0px 10px;
}

.custom-button {
  margin: 10px;
}

.custom-avatar {
  max-width: 30px;
  max-height: 30px;
}

.custom-thumbnail {
  max-width: 350px;
}

.custom-material-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}